.carouselContainer {
  background-color: transparent; 
  padding: 20px 0;
  overflow: hidden;
  max-width: 90%;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoContainer:hover .logo {
  transform: scale(1.1);
  filter: grayscale(0%);
}
@media (max-width: 600px) {
  .carouselContainer > h1 {
    font-size: 20px;
    color: #ff7700;
  }
}
