.headerMenu {
    width: 100%;  
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 400px;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
    height: 44px;
    display: flex;
    justify-content: center;
    margin: auto;
} 
.headerMenu > div {
    display: inline-block;
}

.headerMenu > .left {
    text-align: left;
    width: 44px;
    padding: 10px;
}
.headerMenu > .left > a {
    text-decoration: none;
    font-size: 24px;
}
.headerMenu > .center {
    text-align: right;
    width: 50%;
}
.headerMenu > .center > h1 {
    margin: auto;
    font-size: 24px;
    padding: 10px 0;
}
.headerMenu > .right{
    text-align: right;
    width: 160px;
    padding: 10px 0;
    padding-right: 10px;
}
.headerMenu > .right > a{
    font-size: 24px;
}
.headerMenu >.right > .heart {
    border-right: 2px solid #F2F2F2 ;
    padding-right: 20px;
}
.headerMenu > .right > .cart {
    padding-left: 20px;
}
