.menuCategoryNavigation {
    /* margin-top: 80px; */
    width: 100%;
    max-width: 400px;
    overflow-x: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 64.8px;
    z-index: 1;
    /* margin-left: 1.25%; */
    background-color: white;
    
}
.menuCategoryNavigation > .a {
    padding: 9px 22px 9px 22px;
    border-radius: 6px;
    border: 1px solid #B3B3B3;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    color: #B3B3B3;
}
.menuCategoryNavigation > .activeTab {
    color: #FFFFFF;
    background-color: #FF8E25;
    border: none;
} 