/* .faq{
  padding-top: 20px;

} */
.faq > h1 {
  color: #ff7700;
}
.collapse {
    margin: auto;
    width: 700px;
    max-width: 90%;
    font-size: 20px;
    border: none;
    /* background-color: none;  */
}
.faqLabel {
    font-weight: 500;
    font-size: 20px;
    color: #333;
    background-color: none;
  }

  .faqContent {
    font-size: 16px;
    color: #666;
    margin: 8px 0;
    padding-left: 22px;
  }

  
@media (max-width: 600px) {
  .faq > h1 {
    text-align: center;
    color: #ff7700;
  }
}