.banner {
    padding-top: 105px;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 22px;

}

.bannerCarousel {
    padding: 15px;
    width: 100%;
}

.carouselItem {
    height: 200px; /* Set height to 200px */
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
}

.carouselImage {
    height: 200px; /* Ensure image height is 200px */
    width: 100%;   /* Ensure image width is 100% */
    object-fit: cover; /* Make sure image covers the container */
    border-radius: 22px;
}

.editButton {
    float: right;
    margin: 13px;
    z-index: 10;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease;
}

.editButton:hover, .editButton:active, .editButton:focus {
    color: #e65c00 !important;
}
