.carouselContainer {
  background-color: transparent; /* Set background color to transparent */
  padding: 20px 0;
  overflow: hidden;
  max-width: 90%; /* Maximum width of 90% */
  width: 1000px; /* Maximum width of 800px */
  margin: 0 auto; /* Center the carousel horizontally */
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logoContainer:hover .logo {
  transform: scale(1.1);
  filter: grayscale(0%);
}
