.header {
    width: 100%;  
    padding-bottom: 20px;
    max-width: 400px;
    border-bottom: 1px solid #F2F2F2;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 30;
}

.header > .leftRight {
    display: flex;
    justify-content: space-between; /* Space between logo and right section */
    align-items: center; /* Align logo and icons vertically in the center */
    padding: 15px;
}

.header > .leftRight > .left {
    display: inline-block;
    width: auto;
}
.header > .leftRight > .left > .logoWrapper {
    position: relative;
    height: 50px;
    width: 100px;
    text-align: left;
}

.header > .leftRight > .right {
    display: flex;
    align-items: center; /* Vertically center the icons */
    gap: 15px; /* Space between the icons */
    position: relative; /* Position relative to allow absolute positioning of edit button */
    font-size: 24px;
    width: 'auto';
     height: '50px';
}

.header > .leftRight > .right > .info {
    font-size: 24px;
    color: #ff7700;
}

.header > .leftRight > .right > .edit {
    position: absolute;
    right: 0;
    bottom: -45px; /* Positioned at the bottom right */
    font-size: 20px;
    color: #ff7700;
}

.edit:hover, .edit:active, .edit:focus {
    color: #e65c00 !important; /* Force the color change on hover, active, and focus */
}

.header > .search {
    padding: 10px 0;
    border-bottom: 2px solid #F2F2F2;
    width: 100%;
    text-align: center;
}

.header > .search {
    width: 90%;
    border-radius: 10px;
    border: 1px solid #F2F2F2;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header > .search > input {
    border: none;
    font-size: 24px;
    width: 80%;
    padding-left: 20px;
}

.header > .search > button {
    width: 20%;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 24px;
}

.header > .search > input:focus {
    outline: none; /* Remove default outline */
    font-size: 24px;
}
