.contactUs{
    display: flex;
    height: 492px;
    justify-content: center;
    align-items: center;
}
.contactUs > .a {
    position: absolute;
    width: 80%;
    height: 293.31px;
    background-color: #000000;
    border-radius: 39.74px;
}

.contactUs > .left {
     background-color: none;
     display: inline-block;
     z-index: 1;
     width: 40%;
     padding-left: 10%;
     
}
.contactUs > .left > .img {
    max-height: 200px;
    max-width: 200px;
}
.contactUs > .right {
    background-color: none;
    display: inline-block;
    z-index: 1;
    width: 60%;
    color: #FFFFFF;
}

.contactUs > .right > h1 {
    font-weight: 600;
    size: 28.62px;
    line-height: 34.88px;
}
.contactUs > .right > span {
    font-weight: 500;
    size: 14.31px;
    line-height: 22px;

}
.contactUs > .right > .input {
    width: 90%;
    border-radius: 100px;
    background-color: #FFFFFF;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

.contactUs > .right > .input> input {
      flex: 1;
      padding: 10px;
      border: none;
      font-size: 14px;
      width: 80%;
}
.contactUs > .right > .input > button {
    padding: 10px 15px;
    color: white;
    background-color: #FF7800;
    border-radius: 100px; /* Rounded corners */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* width: 20%; */
}
.contactUs > .right > .input > input:focus {
    outline: none; /* Remove default focus outline */
    border: none;
    size: 16px;
}



@media only screen and (max-width: 1110px) {
    .contactUs {
        height: 300px;
    }
    .contactUs > .left {
        display: none;
    }
    .contactUs > .right {
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .contactUs > .a {
        height: 200px;
    }
    .contactUs > .right > h1  {
        margin-bottom: 0;
    }
    .contactUs > .right > span{
        padding-top: 10px;
    }
}
@media only screen and (max-width: 700px) {
    .contactUs > .right {
        width: 80%;
    }
    .contactUs > .right > .input {
        margin: 10px auto;
    }
}

@media only screen and (max-width: 450px) {
    .contactUs > .right > .input > button {
        width: 50%;
    }
    .contactUs > .right > .input > input {
        width: 50%;
    }
}